<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>360classroom</title>
    <link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleGL.css') }}" />
    <script src="{{url_for('static', filename='js/three.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/script_js.js')}}"></script>

</head>
<body>
    <div class="container">
        <div class="header">
            <h1><a href="#">360 Twin Classroom</a></h1>                                                                                                                                                                                                                                                                                       
            <div class="nav">
                <ul>
                    <li><a href="#">Home</a></li>
                     <li><a href="#">소개</a></li>
                    <li><a href="#">출결현황</a></li>
                </ul>
            </div>
        </div>
      
      <div class="containerBox">
         <div class="containerBox1">
            <canvas id = "canvasID"> </canvas>
                
                    <form action="/" method="GET">
                        <a href="/virtualSpatial" class="card-link">virtualSpatial</a>
                    </form>
                
                    <form action="/" method="GET">
                        <a href="/realSpatial" class="card-link2">realSpatial</a>
                    </form>
         </div>
      </div>
    </div>
    
    <script type="module">
        import { OBJLoader } from 'https://threejsfundamentals.org/threejs/resources/threejs/r127/examples/jsm/loaders/OBJLoader.js';
        import { MTLLoader } from 'https://threejsfundamentals.org/threejs/resources/threejs/r127/examples/jsm/loaders/MTLLoader.js';
        import { OrbitControls } from 'https://threejsfundamentals.org/threejs/resources/threejs/r127/examples/jsm/controls/OrbitControls.js';

        const scene = new THREE.Scene(); // scene은 전역 변수로 고정
        const objLoader = new OBJLoader(); // 오브젝트 파일 로더
        const mtlLoader = new MTLLoader();
        const loader = new THREE.TextureLoader(); // 텍스처 로더

        function makeInstance(geometry, color, x) {
            const material = new THREE.MeshPhongMaterial({ color });

            const cube = new THREE.Mesh(geometry, material);
            scene.add(cube);
            cube.position.x = x;

            return cube;
        }

        function draw_line(color, x1, y1, z1, x2, y2, z2) {
            const material = new THREE.LineBasicMaterial({
                color: color
            });

            const points = [];
            points.push(new THREE.Vector3(x1, y1, z1));
            points.push(new THREE.Vector3(x2, y2, z2));

            const geometry = new THREE.BufferGeometry().setFromPoints(points);

            const line = new THREE.Line(geometry, material);
            scene.add(line);
        }

        function draw_axis() {
            draw_line(0xff0000, 10, 0, 0, 0, 0, 0); // x8-0
            draw_line(0x00ff00, 0, 10, 0, 0, 0, 0); // y
            draw_line(0x0000ff, 0, 0, 10, 0, 0, 0); // z
        }

        function resizeRendereToDisplaySize(renderer) {
            const canvas = renderer.domElement;
            const width = canvas.clientWidth;
            const height = canvas.clientHeight;
            const needResize = canvas.width !== width || canvas.heigth !== height;
            if (needResize) {
                renderer.setSize(width, height, false);
            }
            return needResize;
        }

        function obj_load(path) {

            objLoader.load(path, (root) => {
                scene.add(root);
            });
        }

        function obj_load_with(path1, path2) {
            mtlLoader.load(path1, (mtl) => {
                mtl.preload();
                const objLoader = new OBJLoader();
                objLoader.setMaterials(mtl);
                objLoader.load(path2, (root) => {
                    scene.add(root);
                });
            });
        }

        // function make_classroom(renderer) {
        //     const texture = loader.load(

        //         'static/images/class_tex_front.jpg',
        //         () => {
        //             const rt = new THREE.WebGLCubeRenderTarget(texture.image.height);
        //             rt.fromEquirectangularTexture(renderer, texture);
        //             scene.background = rt.texture;
        //         });
        // }

        function main() {
            // 내가 원하는 위치의 canvas에 project 띄우기
            const canvas = document.querySelector('#canvasID');

            const renderer = new THREE.WebGLRenderer({ canvas, alpha: true });

            const fov = 80;
            const aspect = canvas.width / canvas.height;  // the canvas default
            const near = 0.1; // near와 far는 카메라로부터의 거리
            const far = 2500;
            const camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
            camera.position.x = -11
            const controls = new OrbitControls(camera, canvas);
            controls.target.set(0, 0, 0);
            controls.update();

            const boxWidth = 2000;
            const boxHeight = 1000;
            const boxDepth = 2000;
            const geometry = new THREE.BoxGeometry(boxWidth, boxHeight, boxDepth);

            //const material = new THREE.MeshBasicMaterial({ color: 0x44aa88 });  // greenish blue
            const materials = [
                new THREE.MeshBasicMaterial({ side: THREE.BackSide, map: loader.load('static/images/px.png') }),
                new THREE.MeshBasicMaterial({ side: THREE.BackSide, map: loader.load('static/images/nx.png') }),
                new THREE.MeshBasicMaterial({ side: THREE.BackSide, map: loader.load('static/images/py.png') }),
                new THREE.MeshBasicMaterial({ side: THREE.BackSide, map: loader.load('static/images/ny.png') }),
                new THREE.MeshBasicMaterial({ side: THREE.BackSide, map: loader.load('static/images/pz.png') }),
                new THREE.MeshBasicMaterial({ side: THREE.BackSide, map: loader.load('static/images/nz.png') }),
            ];
            //const material = new THREE.MeshPhongMaterial({ color: 0x44aa88 }); // 광원에 반응하는 머터리얼
            const cube = new THREE.Mesh(geometry, materials);
            console.log(cube.position.x);
            //cube.rotation.y = 40;
            cube.position.x = 100;
            cube.position.y = 0;
            console.log(cube.position.x);
            scene.add(cube);

            // 광원 생성
            const color = 0xffffff; // 
            const intensity = 1.5;
            const amb_light = new THREE.AmbientLight(color, intensity);
            // 광원 위치 // target은 조명이 향하는 곳임 디폴트는 둘다 (0, 0,0)
            scene.add(amb_light);
            function keyDownHandler(e) {
                if(e.keyCode == 39) { 
                    camera.position.z  +=10;

                }
                else if(e.keyCode == 37) { 
                    camera.position.z -=10;

                } 
                else if(e.keyCode == 38) {  
                    camera.position.x +=10; 

                }
                else if(e.keyCode == 40) {  
                    camera.position.x  -=10;

                }
                else if(e.keyCode == 90) {  
                    camera.position.y +=10;
                }
                else if(e.keyCode == 88) {  
                    camera.position.y -=10;
                }
                else if(e.keyCode == 49) {  // 주형
                    camera.position.set(430, 30, -150) ;
                    controls.target.set(700, 50, 50);
                    controls.update();
                }
                else if(e.keyCode == 50) {  //재현
                    camera.position.set(130, 30, -150) ;
                    controls.target.set(700, 50, 50);
                    controls.update();
                }
                else if(e.keyCode == 51) {   //유성
                    camera.position.set(-170, 30, -150) ;
                    controls.target.set(700, 50, 50);
                    controls.update();
                }
                else if(e.keyCode == 52) {  //현태
                    camera.position.set(430, 30, 250) ;
                    controls.target.set(700, 50, 50);
                    controls.update();
                }
                else if(e.keyCode == 53) {  //진호
                    camera.position.set(130, 30, 250) ;
                    controls.target.set(700, 50, 50);
                    controls.update();
                }
                else if(e.keyCode == 48) {  //원점
                    camera.position.set(0, 70, 0);
                    controls.target.set(700, 50, 50);
                    controls.update();
                }
                else if(e.keyCode == 33) {  //page up
                    string ='static/material/JinHo.mtl';
                }
                else if(e.keyCode == 34) {  //page down
                    string ='static/material/Board.mtl';
                }
            }   


        window.addEventListener('keydown', (e) => {
            keyDownHandler(e);
        });
        
        obj_load_with('static/material/HyeonTae.mtl', 'static/obj/HyeonTae.obj');
        obj_load_with('static/material/Useong.mtl', 'static/obj/Useong.obj');
        obj_load_with('static/material/JinHo.mtl', 'static/obj/JinHo.obj');
        obj_load_with('static/material/JooHyeong.mtl', 'static/obj/JooHyeong.obj');
        obj_load_with('static/material/JeaHyeon.mtl', 'static/obj/JeaHyeon.obj');     
        obj_load_with('static/material/Board.mtl', 'static/obj/Board.obj');

        function render(time) {
            if (resizeRendereToDisplaySize(renderer)) {
                const canvas = renderer.domElement;
                camera.aspect = canvas.clientWidth / canvas.clientHeight; // 가로세로 비 갱신
                camera.updateProjectionMatrix(); // 투영 행렬 업데이트
            }

                renderer.render(scene, camera);
                requestAnimationFrame(render);
            }
            requestAnimationFrame(render); // 루프 시작
        }

        function makeLabelCanvas(baseWidth, size, name,label_color) {
            const borderSize = 2;
            const ctx = document.createElement('canvas').getContext('2d');
            const font =  `${size}px bold sans-serif`;
            ctx.font = font;
            // measure how long the name will be
            const textWidth = ctx.measureText(name).width;

            const doubleBorderSize = borderSize * 2;
            const width = baseWidth + doubleBorderSize;
            const height = size + doubleBorderSize;
            ctx.canvas.width = width;
            ctx.canvas.height = height;

            // need to set font again after resizing canvas
            ctx.font = font;
            ctx.textBaseline = 'middle';
            ctx.textAlign = 'center';

            ctx.fillStyle = label_color;
            ctx.fillRect(0, 0, width, height);

            // scale to fit but don't stretch
            const scaleFactor = Math.min(1, baseWidth / textWidth);
            ctx.translate(width / 2, height / 2);
            ctx.scale(scaleFactor, 1);
            ctx.fillStyle = 'white';
            ctx.fillText(name, 0, 0);

            return ctx.canvas;
        }

        function makeBillboard(x, y, z,labelWidth,size, name,label_color) {

            const canvas = makeLabelCanvas(labelWidth, size, name,label_color);
            const texture = new THREE.CanvasTexture(canvas);
            // because our canvas is likely not a power of 2
            // in both dimensions set the filtering appropriately.
            texture.minFilter = THREE.LinearFilter;
            texture.wrapS = THREE.ClampToEdgeWrapping;
            texture.wrapT = THREE.ClampToEdgeWrapping;

            const labelMaterial = new THREE.SpriteMaterial({
            map: texture,
            transparent: true,
            });

            const root = new THREE.Object3D();
            root.position.x = x;


            const label = new THREE.Sprite(labelMaterial);
            root.add(label);
            label.position.y = y;
            label.position.z = z;

            const labelBaseScale = 0.1;
            label.scale.x = canvas.width  * labelBaseScale;
            label.scale.y = canvas.height * labelBaseScale;

            //scene.add(root);
            return root;
        }


        var JooHyeong_On = makeBillboard(400, 50, -150, 800, 200, 'JooHyeong', 'blue');
        var JooHyeong_Off = makeBillboard(400, 50, -150, 800, 200, 'JooHyeong', 'red');
        
        var JeaHyeon_On =  makeBillboard(100, 50, -150, 800, 200, 'JeaHyeon', 'blue');
        var JeaHyeon_Off =  makeBillboard(100, 50, -150, 800, 200, 'JeaHyeon', 'red');
        
        var Yoosung_On =  makeBillboard(-200, 50, -150, 800, 200, 'Yooseong', 'blue');
        var Yoosung_Off =  makeBillboard(-200, 50, -150, 800, 200, 'Yooseong', 'red');
        
        var HyeonTae_On =  makeBillboard(400, 50, 250, 800, 200, 'HyeonTae', 'blue');
        var HyeonTae_Off =  makeBillboard(400, 50, 250, 800, 200, 'HyeonTae', 'red');

        var JinHo_On =  makeBillboard(100, 50, 250, 800, 200, 'JinHo', 'blue');
        var JinHo_Off =  makeBillboard(100, 50, 250, 800, 200, 'JinHo', 'red');
       
        function text(vars) {
            for (var v in vars) {
                if (vars['hyeontae'] == 'o')
                {
                    scene.remove(HyeonTae_Off);
                    scene.add(HyeonTae_On);
                }
                else
                {   
                    scene.remove(HyeonTae_On);
                    scene.add(HyeonTae_Off);
                }
                if (vars['jaehyeon'] == 'o')
                {
                    scene.remove(JeaHyeon_Off);
                    scene.add(JeaHyeon_On);
                }
                else
                {   
                    scene.remove(JeaHyeon_On);
                    scene.add(JeaHyeon_Off);
                }
                if (vars['jinho'] == 'o')
                {
                    scene.remove(JinHo_Off);
                    scene.add(JinHo_On);
                }
                else
                {   
                    scene.remove(JinHo_On);
                    scene.add(JinHo_Off);
                }
                if (vars['joohyeong'] == 'o')
                {
                    scene.remove(JooHyeong_Off);
                    scene.add(JooHyeong_On);
                }
                else
                {   
                    scene.remove(JooHyeong_On);
                    scene.add(JooHyeong_Off);
                }
                if (vars['yoosung'] == 'o')
                {
                    scene.remove(Yoosung_Off);
                    scene.add(Yoosung_On);
                }
                else
                {   
                    scene.remove(Yoosung_On);
                    scene.add(Yoosung_Off);
                }
            }        
        }
        


        
        
        const source = new EventSource("/video_info_streaming");
        source.onmessage = function(event) {
            const data = JSON.parse(event.data);
            //console.log(data);
            //mymain(data);
            console.log(data);
            text(data);
        }

        main();

    </script>

</body>
</html> 